<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chella + He-i</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <link href="{{url_for('static', filename='wed.css') }}" rel="stylesheet" type='text/css' media="all">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">

  </head>

  <title>CHELLA AND HE-I</title>

  <body>
    <h1 class="agileits w3 wthree w3-agile w3-agileits agileinfo agile">Yes, I'll Be There</h1>
    <div class="content-w3ls agileits w3 wthree w3-agile w3-agileits agileinfo agile">
      <form action="#" method="post" class="form-agileits">
	<h2>Contact Us</h2>
	<input type="text" id="username" name="username" placeholder="USERNAME" title="Please enter your First Name" required="">
	<input type="email" id="email" name="email" placeholder="MAIL@EXAMPLE.COM" title="Please enter a Valid Email Address" required="">
	<textarea id="message" name="message" placeholder="YOUR MESSAGE" title="Please enter Your Comments"></textarea>
	<input type="submit" class="sign-in" value="Submit">
      </form>
    </div>
    <p class="copyright agileits w3 wthree w3-agile w3-agileits agileinfo agile">© 2017 | By Herbert I Aungon</p>
  </body>
</html>
